#wage-section-form{
    color: white;
    background-color: rgba(0, 128, 128, 0.4);
    padding: 10px;
}
#wage-section-form>.form-group>label{
   padding-right: 30px;
    
}
#test-table-xls-button{
    background-color: #418899;
    height: 70px;
    width: 8em;
    border: none;
    border-radius: 5%;
    color: white;
}
